<%- include('../fragments/header'); -%>

<%- include('../fragments/log-settings-modal'); -%>

  <div class="container main-content">
    <h1>Admin</h1>
    <p>Use this page to manage service configuration settings.</p>
  </div>

  <script>
    function changeLogLevel() {
      // Populate Modal with current logLevel setting, including currentLevel hidden input

      // Show modal, with existing logLevel pre-selected, enable user to change logLevel
      $("#logSettingsModal").modal();
    }

    function saveLogLevel(level) {
      // Read current setting (hidden populated input, 'currentLevel')

      // If selected != current, POST to new admin route to change logLevel
    }
</script>

<%- include('../fragments/footer'); -%>